.git
.gitignore
node_modules
vendor/bin
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/installed_dev.json
vendor/composer/*autoload* 
docker-data
logs/*
.env
config/.env
**/.DS_Store
**/Thumbs.db

